/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    border: none;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 41px;
    background: #E02C6D;
}

p {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

header nav ul {
    display: flex;
}

nav ul li {
    margin-left: 34px;
    list-style: none;
}

ul li a {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.header-tittle {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
}

.banner-img {
    background-image: url(./images/Circle\ design.svg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-img img {
    width: 100%;
}

.banner-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;

}

.banner-text h1 {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
   
}

.brand {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 35px 140px;
    gap: 60px;
}

.brand img {
    width: 84px;
    height: 26px;
    flex-shrink: 0;
}

/* card section */

.card-section {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-item {
    height: 476px;
    flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    padding: 14px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card-item img {
    width: 100%;
}

.see-more {
    color: #E02C6D;
    text-align: right;
}

.product-section {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}

.product-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.btn {
    padding: 10px 24px;
    border-radius: 0px;
}

footer {
    margin-top: 100px;
    background: #0A0826;
    text-align: center;
    color: #FFF;
    padding: 50px;
}

.fa-brands {
    padding: 5px;
    font-size: 25px;
}

