/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.btn-primary{
    border: none;
    display: inline-flex;
padding: 10px 24px;
align-items: flex-start;
gap: 8px;
    color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 41px;
background: #E02C6D;
}
p{
    color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 18px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
header nav ul{
    display: flex;
}
nav ul li{
    margin-left: 34px;
    list-style: none;
}
ul li a{color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
.header-tittle{
    color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.banner{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 133px;
    border: 2px solid red;
}
.banner-img{
    background-image: url(./images/Circle\ design.svg);
    position: relative;
    width: 500px;
    background-repeat: no-repeat;
    
}
.banner-text{
    max-width: 582px;
    gap: 18px;
}
.banner-text h1{
    color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;

font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 70px; 
margin-bottom: 18px;
}